@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Dark Mode Styles */
body {
  transition: background-color 0.3s, color 0.3s;
}

/* Variables */
:root {

  
  --background: rgb(11, 11, 11);
  --foreground: rgb(244, 244, 244);
  --secondary-bg:#212222;
  --secondary-fg: #E2E4E8;
  --secondary-fg-small:#cdd8ec;
  --button-bg: #5146c7;
  --button-fg: #D9E4F4;
  --button-bg-hover:#4337c6;
  --input-box-bg:#D1D5DB;
  --tertiary-fg: #6A6E73;
  --light-gray:#2B2C2D;
  --thin-gray:#1c1c1c;
  --hover-bg:rgb(56, 55, 55);
  --small-button-bg:#5146C7;
  --hover-small-button-bg:#493cd5;
  --footer-bg:rgb(24, 24, 25);

  --destructive-color: #ef4444;   /* For logout button */
  --destructive-hover: #b91c1c;   /* Logout button hover */
  --create-color: #10b981;        /* For create button */
  --create-hover: #059669;        /* Create button hover */
  --edit-color: #6366f1;          /* For edit profile button */
  --edit-hover: #4f46e5;          /* Edit profile button hover */


  --border-dark:rgb(123, 124, 126);

  --form-bg:#303036;
  --form-input-bg:rgb(25, 24, 26);
  --focus-box: #8b5cf6;

  --error-color:rgb(255, 46, 46);

  --poppins:'Poppins';

  --accent-color:rgb(255, 215, 93);
  --border-d:"zinc-700";


}


/*  LOADING ANIMATION  */

/*  LOADING ANIMATION  */


/*  ELEMENT ANIMATION  */
@keyframes fade-in {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
  animation: fade-in 0.4s ease forwards;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.98);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.3s ease-out forwards;
  will-change: opacity, transform;
}
/*  ELEMENT ANIMATION  */





/*  PROFILE CARD  */
.card{
  @apply mb-8 text-slate-400 bg-zinc-900 border-zinc-500/50 border-4 mx-auto max-w-[1000px] w-full
}
.card-title{
  @apply text-2xl text-slate-300 font-bold
}
.card-description{
  @apply text-sm text-slate-500
}
.title-text{
  @apply text-lg font-semibold bg-stone-900 rounded inline px-3 py-1 
}
/*  PROFILE CARD  */


/*  Category Selector  */
.card-category-selector{
  @apply text-slate-400 bg-zinc-900 border-zinc-500/50 border-4 mx-auto max-w-7xl w-full
}
/*  Category Selector  */


/*  ELEMENTS TABLE  */
.card{
  @apply mb-8 text-slate-400 bg-zinc-900 border-zinc-500/50 border-4 mx-auto max-w-[1000px] w-full
}
/*  ELEMENTS TABLE  */

.update-form{
  @apply mx-auto text-slate-400 bg-zinc-900 border-zinc-500/50 border-4 max-w-[800px] w-full
}

/*  FORM CSS  */
.form{
  @apply bg-[var(--form-bg)] outline outline-offset-4 outline-violet-300
   rounded-lg mx-auto my-16 max-w-[800px] w-full px-8 py-6
}
.form-label{
  @apply px-3 py-1 rounded text-sm font-medium tracking-wider text-[var(--foreground)] bg-[var(--form-input-bg)] 
}
.form-input{
  @apply w-full px-3 py-2 outline outline-1 outline-[var(--border-dark)] rounded-md 
   bg-[var(--form-input-bg)] text-[var(--foreground)]  focus:outline-none focus:outline-[3px] focus:outline-[var(--focus-box)]
}
.form-button{
  @apply w-full my-4 bg-[var(--button-bg)] text-[var(--foreground)] p-3 rounded-md font-medium 
  hover:bg-[var(--button-bg-hover)]  hover:-outline-offset-2 hover:outline-none hover:outline-[2.5px] hover:outline-violet-400 
  disabled:opacity-70 active:bg-violet-600/50
}
/*  FORM CSS  */


@keyframes marquee-left-right {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee-left-right {
  animation: marquee-left-right 50s ease-in-out infinite;
}

@keyframes marquee-right-left {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee-right-left {
  animation: marquee-right-left 50s ease-in-out infinite;
}


.box-feather{
  box-shadow: 0px 10px 10px #8537377a;
}

.text-shadow{
  text-shadow: 15px 15px 60px #ff00ae69, -10px -10px 60px #0066ff5c;
}

.blurred-bg {
   background: rgba(34, 34, 34, 0.86); /*Semi-transparent background */
  backdrop-filter: blur(6px); /*Applies the blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
}



.btn{
  @apply  flex items-center px-4 py-2 bg-[var(--button-bg)]  text-white text-sm font-medium rounded-lg hover:bg-[#4338CA];
}

.b{
  @apply border;
}

.three-d-shadow{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.light-shadow{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* .dark {
  --background: #1a1a1a;
  --foreground: #ffffff;
} */

body {
  background-color: var(--background);
  color: var(--foreground);
}

.light-mode{
  background-color: var(--foreground);
  color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@layer base {
  :root {
    /* --background: 0 0% 100%;
    --foreground: 240 10% 3.9%; */
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  /* body {
    @apply bg-background text-foreground;
  } */
}


@layer Navbar {
  #nav-icon3 {
  @apply w-[45px] h-[45px] relative transition-all duration-500 ease-in-out cursor-pointer rounded ;
}

#nav-icon3{
   background: rgba(34, 34, 34, 0.86);
  backdrop-filter: blur(6px); 
}

#nav-icon3 span {
  @apply absolute h-[3.5px] w-[25px] bg-[var(--button-bg)] rounded opacity-100 left-[10px] top-[13px] rotate-0 transition-all duration-200 ease-in-out;
}


  #nav-icon3 span:nth-child(1) {
    top: 13px;
  }

  #nav-icon3 span:nth-child(2),
  #nav-icon3 span:nth-child(3) {
    top: 21px;
  }

  #nav-icon3 span:nth-child(4) {
    top: 29px;
  }

  #nav-icon3.open span:nth-child(1) {
    top: 20px;
    width: 0%;
    left: 50%;
  }

  #nav-icon3.open span:nth-child(2) {
    transform: rotate(45deg);
  }

  #nav-icon3.open span:nth-child(3) {
    transform: rotate(-45deg);
  }

  #nav-icon3.open span:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%;
  }

  .nav-btn {
  @apply w-8 h-8 flex items-center justify-center bg-[var(--button-bg)] text-white rounded cursor-pointer transition-all duration-200 ease-in-out hover:bg-[var(--button-bg-hover)] ;
 }

 .nav-menu-text{
  @apply text-sm flex items-center text-center align-text-bottom font-light py-1 px-4 rounded-lg  tracking-widest transition ease-in-out delay-0 duration-300;
 } 

}




